@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

// colors
$primary: #f54b64;
$primary-gradient: linear-gradient(144deg, rgba(245,75,100,1) 0%, rgba(247,131,97,1) 100%);
$secondary: #242A38;
$dark-blue: #202430;
$dark-grey: #4E596F;
$white: #fff;

// fonts
$font-family: 'Open Sans', sans-serif;
$light: 300;
$medium: 400;
$semi-bold: 500;
$bold: 600;

