@import "../../assets/scss/variables.scss";

.content {
  background-color: $dark-blue;
  padding: $side-padding;
  box-shadow: $inner-shadow;
}

.inside-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-flow: wrap;
}

.title {
  position: relative;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $sm-breakpoint) {
    width: 20%;
    height: 100%;
  }

  h3 {
    font-size: 2rem;
    font-weight: $light;
    color: $white;
    text-transform: uppercase;

    @media (min-width: $mobile-breakpoint-md) {
      font-size: 2.81rem;
    }

    @media (min-width: $sm-breakpoint) {
      font-size: 4rem;
      transform: rotate(-90deg);
      position: absolute;
      top: 45%;
      right: -50%;
    }

    span {
      font-weight: $semi-bold;
      margin-left: 2rem;
      display: block;

      @media (min-width: $mobile-breakpoint-md) {
        margin-left: 5rem;
      }
    }
  }
}

.description {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  grid-column: auto auto;

  @media (min-width: $mobile-breakpoint-md) {
    width: 50%;
  }

  @media (min-width: $sm-breakpoint) {
    width: 40%;
  }

  .description__img-profile {
    grid-column: 1 / 1;
    grid-row: 1;
    img {
      max-width: 8.75rem;

      @media (min-width: $sm-breakpoint) {
        max-width: 11.25rem;
      }
    }
  }

  .description__principal-information {
    grid-column: 2 / 2;
    grid-row: 1;

    strong {
      font-size: 1.12rem;
      font-weight: $medium;

      @media (min-width: $sm-breakpoint) {
        font-size: 1.37rem;
      }

      @media (min-width: $sm-breakpoint) {
        font-size: 1.87rem;
      }
    }

    p {
      color: $white;
      font-size: 0.75rem;
      font-weight: $light;
      text-align: right;
      text-transform: uppercase;
      line-height: 1.8;

      @media (min-width: $sm-breakpoint) {
        font-size: 0.875rem;
      }

      @media (min-width: $sm-breakpoint) {
        font-size: 1.25rem;
      }
    }
  }

  .description__bio {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 3rem;

    p {
      font-size: 1.125rem;
      font-weight: $light;
      color: $white;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 1rem;

      strong {
        font-weight: $semi-bold;
      }
    }
  }
}

.timeline {
  width: 100%;

  @media (min-width: $mobile-breakpoint-md) {
    width: 50%;
    padding-left: 3rem;
  }

  @media (min-width: $sm-breakpoint) {
    width: 40%;
    padding-left: 5rem;
  }

  .timeline__item {
    display: flex;
  }

  .timeline__bullet {
    &::before {
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      background: $white;
      display: block;
      border-radius: 50%;
      border: solid 0.37rem $primary;
      box-sizing: border-box;
      margin: 0 0.62rem;
    }

    &::after {
      content: "";
      display: block;
      height: 4.37rem;
      background: $primary;
      width: 0.31rem;
      margin: 0 auto;
    }

    &.secondary {
      &::before {
        border-color: $orange;
      }
      &::after {
        background: $orange;
      }
    }
  }

  .timeline__year {
    color: $white;
    font-size: 1.25rem;
  }

  .timeline__title {
    color: $white;
    font-weight: $semi-bold;
    font-size: 1.25rem;
  }

  .timeline__subtitle {
    color: $white;
    font-size: 1rem;
    font-weight: $light;
    margin: 0.62rem 0;

    @media (min-width: $sm-breakpoint) {
      font-size: 1.12rem;
      font-style: italic;
    }
  }
}
