<div class="content">
  <div class="inside-container">
    <div class="title">
      <h3>
        Personal <span>Information</span>
      </h3>
    </div>

    <div class="description">
      <div class="description__img-profile">
        <img src="../../assets/images/profile.jpg" alt="profile image">
      </div>
      <div class="description__principal-information">
        <p><strong>Thais Souza</strong></p>
        <p>{{getAge(1993)}} anos</p>
        <p>Sao Paulo - Brazil</p>
      </div>
      <div class="description__bio">
        <p>
          Hi! I'm Thais, a <strong>developer with more than {{getAge(2013)}} years of experience</strong> in a wide
          range of disciplines. Currently I'm working with <strong>Angular 10+ and React JS</strong>.
        </p>
        <p>
          My journey as a developer began in 2013 when I started studying in Senac University. This has helped me to
          widen my range of knowledge and gather experience through several disciplines, such as <strong>front-end,
            back-end, mobile apps, design, project management, and many more</strong>.
        </p>
        <p>Since the beginning of my career as a developer, <strong>I have been working with up to date technologies,
            looking for high quality projects through clean code. Always thinking about a great user
            experience</strong>.
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="timeline__item">
        <span class="timeline__year">
          2021
        </span>
        <span class="timeline__bullet"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">In All Media | USA</h4>
          <p class="timeline__subtitle">Sênior Front-end Developer</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2020
        </span>
        <span class="timeline__bullet"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">Brasilprev | BR</h4>
          <p class="timeline__subtitle">Sênior Frontend Developer | Tech Lead</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2019
        </span>
        <span class="timeline__bullet secondary"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">FIAP | BR</h4>
          <p class="timeline__subtitle">MBA Artificial Intelligence and Machine Learning</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2018
        </span>
        <span class="timeline__bullet"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">NSB | BR</h4>
          <p class="timeline__subtitle">Sênior Frontend Developer | Scrum Master</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2016
        </span>
        <span class="timeline__bullet"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">Agência Iônica | BR</h4>
          <p class="timeline__subtitle">Full-stack Developer</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2013
        </span>
        <span class="timeline__bullet"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">Carambola.com.vc | BR</h4>
          <p class="timeline__subtitle">Frontend Developer | Scrum Master</p>
        </div>
      </div>

      <div class="timeline__item">
        <span class="timeline__year">
          2013
        </span>
        <span class="timeline__bullet secondary"></span>
        <div class="timeline__description">
          <h4 class="timeline__title">Senac University | BR</h4>
          <p class="timeline__subtitle">Bachelor degree in Computer Information Systems</p>
        </div>
      </div>
    </div>
  </div>
</div>