<div class="content" id="skils">
  <div class="inside-container">
    <div class="content__title">
      <h3>skills and <span>expertize</span></h3>
    </div>
    <div class="chart">
      <div class="chart-line">
        <app-chat-line-item name="Java script" [fill]='100'></app-chat-line-item>
        <app-chat-line-item name="Angular" [fill]='100'></app-chat-line-item>
        <app-chat-line-item name="React JS" [fill]='80'></app-chat-line-item>
        <app-chat-line-item name="Git" [fill]='60'></app-chat-line-item>
        <app-chat-line-item name="GhaphQL" [fill]='80'></app-chat-line-item>
        <app-chat-line-item name="REST API" [fill]='80'></app-chat-line-item>
      </div>
      <div class="chart-line">
        <app-chat-line-item name="HTML 5 / HTML" [fill]='100'></app-chat-line-item>
        <app-chat-line-item name="CSS 3 / CSS" [fill]='100'></app-chat-line-item>
        <app-chat-line-item name="Agile Methodologies" [fill]='80'></app-chat-line-item>
        <app-chat-line-item name="Node JS" [fill]='60'></app-chat-line-item>
        <app-chat-line-item name="Sass / less" [fill]='100'></app-chat-line-item>
        <app-chat-line-item name="typescript" [fill]='80'></app-chat-line-item>
      </div>
    </div>
  </div>
</div>