<div class="content">
  <div class="inside-container">
    <div class="title">
      <h3>
        Portolio of <span>projects</span>
      </h3>
    </div>

    <div class="projects">
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
    </div>
    <p class="projects__link">
      <a href="">more on Github</a>
    </p>
  </div>
</div>