<div class="content" id="portfolio">
  <div class="inside-container">
    <div class="title">
      <h3>Portolio of <span>projects</span></h3>
    </div>

    <div class="projects">
      <a href="https://medium.com/aquietamente/tech/home" target="blank">
        <div class="projects__item medium"></div>
      </a>
      <a
        href="https://github.com/tthaisnunes/data-health_portal/tree/main/app"
        target="blank"
      >
        <div class="projects__item data-health"></div>
      </a>
      <a href="https://github.com/tthaisnunes/pokemon" target="blank">
        <div class="projects__item pokemon"></div>
      </a>
      <a
        href="https://github.com/tthaisnunes/challenge_github_users"
        target="blank"
      >
        <div class="projects__item github"></div>
      </a>
      <a
        href="https://github.com/tthaisnunes/challenge_github_users"
        target="blank"
      >
        <div class="projects__item casa"></div>
      </a>
      <a
        href="https://github.com/tthaisnunes/event-platform"
        target="blank"
      >
        <div class="projects__item ignite-lab"></div>
      </a>
    </div>
    <p class="projects__link">
      <a href="https://github.com/tthaisnunes" target="blank">more on Github</a>
    </p>
  </div>
</div>
