<div class="chart-line__item">
  <span class="item__name">{{name}}</span>
  <span class="item__bar fill-{{fill}}">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </span>
</div>