<div class="content">
  <div class="inside-container">
  <header class="content__header">
    <h2>Thais Souza</h2>
    <button class="content__button-desktop">Download resumé</button>
    <button class="content__button-mobile"><img src="../../assets/images/download.svg" alt="Download icon"></button>
  </header>
  <nav class="content__nav">
    <ul>
      <li><a href="#about">about</a></li>
      <li><a href="#skills">skills</a></li>
      <li><a href="#portfolio">portfolio</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
  <div class="content__cta">
    <p>Hello;</p>
    <p>
      I'm a <br>
      Front-end <br>
      developer</p>
  </div>
  <div class="scroll-btn">
    <span class="mouse">
      <span>
      </span>
    </span>
  </div>
  </div>
</div>